.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(#1845ad,#23a2f6);
    left: 220px;
    top: 30px;
}

.shape:last-child{
    background: linear-gradient(to right,#ff512f,#f09819);
    right: 120px;
    bottom: 30px;
}